/* --- Global Styles --- */
body {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* --- Container Styles --- */
.container {
    max-width: 1200px;
    max-height: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.containerHeader {
    max-width: 1200px;
    padding: 0 10px;
    margin: 10px auto;
    border-radius: 30px;
}



/* --- CV Viewer Styles --- */




/* In your styles.css or App.css file */
.cv-viewer-section {
    padding: 2rem; /* Add some padding around the section */
    max-width: 100%; /* Ensure the section doesn't overflow its parent */
    overflow: hidden; /* Hide any potential overflowing content */
}

.cv-viewer-container {
    height: 80vh; /* Or adjust to whatever height you prefer */
    width: 100%; /* Take up the full width of its parent */
    overflow: auto; /* Allow scrolling if the content exceeds the container size */
}



